{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
     <form action="" method='POST'>
        {% csrf_token %}  
        <label for="">Title:</label> 
        <input type="text" name="title"><br><br>
        <label for="">Author:</label>
        <input type="text" name="author"><br><br>
        <label for="">Image:</label>
        <input type="text" name="image"><br><br>
        <button type="submit">submit</button>
        </form>
    {% endblock %}
      
      
      
    

    
</body>
</html>